# 1. Access SQL

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sqlalchemy import create_engine
import pandas as pd

In [4]:
# DSN format for database connections:  [protocol / database  name]://[username]:[password]@[hostname / ip]:[port]/[database name here]
engine = create_engine('postgresql://postgres:marioparty@ec2-34-212-18-128.us-west-2.compute.amazonaws.com:5432/postgres')

In [71]:
df = pd.read_sql("SELECT * FROM merged_hourly", con=engine)

In [72]:
df.head()

,dt_hour,lot,hr_avail,max_temp,min_temp,avg_temp,precip
0,2014-11-06 15:00:00,Structure 1,76.777778,88.0,62.0,75.0,0.0
1,2014-11-06 15:00:00,Structure 2,263.333333,88.0,62.0,75.0,0.0
2,2014-11-06 15:00:00,Structure 3,32.888889,88.0,62.0,75.0,0.0
3,2014-11-06 15:00:00,Structure 4,228.333333,88.0,62.0,75.0,0.0
4,2014-11-06 15:00:00,Structure 5,254.444444,88.0,62.0,75.0,0.0

In [73]:
df.set_index('dt_hour', inplace=True)

In [74]:
df['day'] = df.index.dayofyear

In [75]:
df['hour'] = df.index.hour

In [76]:
df = df.dropna()

In [79]:
lot_dum = pd.get_dummies(df['lot'])

In [84]:
df = pd.concat([df, lot_dum], axis=1)

In [77]:
df.head(18)

,lot,hr_avail,max_temp,min_temp,avg_temp,precip,day,hour
dt_hour,,,,,,,,
2014-11-06 15:00:00,Structure 1,76.777778,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 2,263.333333,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 3,32.888889,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 4,228.333333,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 5,254.444444,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 6,398.222222,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 7,363.333333,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 8,383.777778,88.0,62.0,75.0,0.0,310,15
2014-11-06 15:00:00,Structure 9,57.888889,88.0,62.0,75.0,0.0,310,15
2014-11-06 16:00:00,Structure 1,70.500000,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 2,315.083333,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 3,39.000000,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 4,254.583333,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 5,269.833333,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 6,390.000000,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 7,345.000000,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 8,381.833333,88.0,62.0,75.0,0.0,310,16
2014-11-06 16:00:00,Structure 9,76.333333,88.0,62.0,75.0,0.0,310,16

In [113]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix

from sklearn.ensemble import RandomForestRegressor

## Train test split

In [102]:
X = df.select_dtypes(include=['number'])

In [103]:
X.drop(columns=['hr_avail'], inplace=True)

In [104]:
y = df['hr_avail']

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [106]:
ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)

## TimeSeriesSplit

In [123]:
Xt = df.select_dtypes(include=['number'])

In [124]:
Xt.drop(columns=['hr_avail'], inplace=True)

In [125]:
yt = df['hr_avail']

In [129]:
tscv = TimeSeriesSplit(n_splits=3)

In [130]:
print(tscv)

TimeSeriesSplit(max_train_size=None, n_splits=3)

In [131]:
for traint_index, testt_index in tscv.split(Xt):
    print("TRAIN:", traint_index, "TEST:", testt_index)
    Xt_train, Xt_test = X[traint_index], X[testt_index]
    yt_train, yt_test = y[traint_index], y[testt_index]

TRAIN: [    0     1     2 ... 71898 71899 71900] TEST: [ 71901  71902  71903 ... 143796 143797 143798]

KeyError: '[    0     1     2 ... 71898 71899 71900] not in index'

In [105]:
Xt_train, Xt_test, yt_train, yt_test = TimeSeriesSplit(Xt, yt, random_state=42)

In [106]:
ss = StandardScaler()
Xt_train_sc = ss.fit_transform(Xt_train)
Xt_test_sc = ss.transform(Xt_test)

## LinearRegression

In [101]:
lr = LinearRegression()

In [107]:
lr.fit(X_train_sc, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [117]:
lr.score(X_train_sc, y_train), lr.score(X_test_sc, y_test)

(0.5857588872378178, 0.580772932677306)

## Random Forest

In [110]:
rf = RandomForestRegressor(n_estimators=100)

In [111]:
rf.fit(X_train_sc, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [116]:
rf.score(X_train_sc, y_train), rf.score(X_test_sc, y_test)

(0.9889820436814846, 0.9265547548804014)