# 1. Models

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sqlalchemy import create_engine
import pandas as pd

In [2]:
# DSN format for database connections:  [protocol / database  name]://[username]:[password]@[hostname / ip]:[port]/[database name here]
engine = create_engine('postgresql://postgres:marioparty@ec2-34-212-18-128.us-west-2.compute.amazonaws.com:5432/postgres')

/Users/namanbhandari/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
df = pd.read_sql("SELECT * FROM merged_hourly", con=engine)

In [4]:
df.head()

,dt_hour,lot,hr_avail,max_temp,min_temp,avg_temp,precip
0,2014-11-06 15:00:00,Structure 1,76.777778,88.0,62.0,75.0,0.0
1,2014-11-06 15:00:00,Structure 2,263.333333,88.0,62.0,75.0,0.0
2,2014-11-06 15:00:00,Structure 3,32.888889,88.0,62.0,75.0,0.0
3,2014-11-06 15:00:00,Structure 4,228.333333,88.0,62.0,75.0,0.0
4,2014-11-06 15:00:00,Structure 5,254.444444,88.0,62.0,75.0,0.0

#### Add day and hour

In [5]:
df.set_index('dt_hour', inplace=True)

In [6]:
df['day'] = df.index.dayofyear

In [7]:
df['hour'] = df.index.hour

#### Add expo dummy column

In [8]:
df['expo'] = 0

In [9]:
mask = df.index > '2016-04-21'
column_name = 'expo'
df.loc[mask, column_name] = 1

In [10]:
df['expo'].value_counts()

1    180504
0    107190
Name: expo, dtype: int64

#### Drop na

In [11]:
df = df.dropna()

#### Get dummies

In [12]:
lot_dum = pd.get_dummies(df['lot'])

In [13]:
df = pd.concat([df, lot_dum], axis=1)

In [14]:
df.head()

,lot,hr_avail,max_temp,min_temp,avg_temp,precip,day,hour,expo,Structure 1,Structure 2,Structure 3,Structure 4,Structure 5,Structure 6,Structure 7,Structure 8,Structure 9
dt_hour,,,,,,,,,,,,,,,,,,
2014-11-06 15:00:00,Structure 1,76.777778,88.0,62.0,75.0,0.0,310,15,0,1,0,0,0,0,0,0,0,0
2014-11-06 15:00:00,Structure 2,263.333333,88.0,62.0,75.0,0.0,310,15,0,0,1,0,0,0,0,0,0,0
2014-11-06 15:00:00,Structure 3,32.888889,88.0,62.0,75.0,0.0,310,15,0,0,0,1,0,0,0,0,0,0
2014-11-06 15:00:00,Structure 4,228.333333,88.0,62.0,75.0,0.0,310,15,0,0,0,0,1,0,0,0,0,0
2014-11-06 15:00:00,Structure 5,254.444444,88.0,62.0,75.0,0.0,310,15,0,0,0,0,0,1,0,0,0,0

## Import modeling modules

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix

from sklearn.ensemble import RandomForestRegressor

# Train test split

In [16]:
X = df.select_dtypes(include=['number'])

In [17]:
X.drop(columns=['hr_avail'], inplace=True)

/Users/namanbhandari/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:
y = df['hr_avail']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)

### LinearRegression

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train_sc, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
lr.score(X_train_sc, y_train), lr.score(X_test_sc, y_test)

(0.5865888020895388, 0.5816186043498005)

### Random Forest

In [24]:
rf = RandomForestRegressor(n_estimators=100)

In [25]:
rf.fit(X_train_sc, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [26]:
rf.score(X_train_sc, y_train), rf.score(X_test_sc, y_test)

(0.9914800853184359, 0.9403539987026617)

# TimeSeriesSplit

In [27]:
tscv = TimeSeriesSplit(n_splits=3)

In [28]:
print(tscv)

TimeSeriesSplit(max_train_size=None, n_splits=3)

In [29]:
for train_index, test_index in tscv.split(X):
    Xt_train, Xt_test = X.iloc[train_index, :], X.iloc[test_index, :]
    yt_train, yt_test = y.iloc[train_index], y.iloc[test_index]

In [30]:
sst = StandardScaler()
Xt_train_sc = sst.fit_transform(Xt_train)
Xt_test_sc = sst.transform(Xt_test)

### LinearRegression

In [31]:
lr = LinearRegression()

In [32]:
lr.fit(Xt_train_sc, yt_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
lr.score(Xt_train_sc, yt_train), lr.score(Xt_test_sc, yt_test)

(0.5888427123915191, 0.5676308039920708)

### Random Forest

In [34]:
rf = RandomForestRegressor(n_estimators=100)

In [35]:
rf.fit(Xt_train_sc, yt_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [36]:
rf.score(Xt_train_sc, yt_train), rf.score(Xt_test_sc, yt_test)

(0.9937085515885057, 0.7513693741504376)